em-emoji-picker {
  --background-rgb: 85, 170, 255;
  --rgb-accent: 255, 10, 10;
  --rgb-background: 255, 255, 255;
  --rgb-color: 204, 0, 0;
  --rgb-input: 255, 235, 235;
  position: relative;
  height: 40vh;
  min-height: 300px;
  max-height: 800px;
  z-index: 50;
}
