@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Griffy";
  src: url("./assets/font/Griffy-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  padding-right: 0 !important;
}

@layer components {
  .primary-scrollbar {
    @apply scrollbar-thin scrollbar-thumb-[#585858] scrollbar-track-[#ebebeb] scrollbar-thumb-rounded-full scrollbar-track-rounded-full;
  }

  .btn-community {
    @apply text-2xl p-2 rounded-full relative ease-in-out duration-500 after:content-[''] after:absolute after:rounded-full after:border after:border-white  after:w-full after:h-full after:right-0 after:top-0;
  }
  .line-break {
    @apply relative before:content-[''] before:absolute before:w-full before:h-[4px] before:bg-[url('../src/assets/img/news_line_5e945cc.webp')] before:bottom-0;
  }
  .input-form {
    @apply rounded-[12px] border-2 border-[#cdcdcd] hover:border-[#adadad];
  }

  .textArea-wrap {
    @apply whitespace-pre-wrap resize-none;
  }

  .light-border {
    @apply border-2 border-white shadow-[0_0_10px] shadow-[#f7f7f7]/70;
  }

  .primary-btn {
    @apply rounded-full bg-[#cc0000] text-white hover:bg-[#ac0000] active:scale-95 duration-75;
  }

  .secondary-btn {
    @apply rounded-full bg-[#111111] text-white hover:bg-[#252525] active:scale-95 duration-75;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .text-gradient-deg {
    color: transparent;
    background: linear-gradient(105deg, #f8f8f8 50%, #cc0000 0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .parallelogram {
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
  }
  .line-clamp-6 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  }
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .delay-2 {
    animation-delay: -2000ms;
  }
  .delay-1 {
    animation-delay: -1000ms;
  }
  .gradient-primary {
    background-image: linear-gradient(to right, transparent, 4%, #cc0000);
  }
  .gradient-secondary {
    background-image: linear-gradient(to right, transparent, 4%, #111);
  }

  .loader {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
  }

  .line-frame {
    border-image: url("https://i.ibb.co/k0BX6Dg/fea-bg-d3fcd82.webp") 1% round;
  }
  .disable-btn {
    opacity: 0.4;
  }

  .fadeToBottom {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.7) 90%,
      rgba(0, 0, 0, 0.9) 95%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  border-radius: 10000px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(88, 88, 88);
  border-radius: 10000px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(90, 90, 90, 0.909);
  cursor: pointer;
} */

.Toastify__toast-theme--colored.Toastify__toast--error {
  background: #dc0000 !important;
}
